@model TransportSchadules.Models.Personnel

@{
    ViewData["Title"] = "Удалить работника";
}

<h2>@ViewData["Title"]</h2>

<h3>Вы уверены, что хотите удалить работника: @Model.EmployeeList?</h3>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="EmployeeList" />
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>
