@model TransportSchadules.Models.Route

@{
    ViewData["Title"] = "Редактировать маршрут";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="RouteId" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="TransportType"></label>
        <input asp-for="TransportType" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="PlannedTravelTime"></label>
        <input asp-for="PlannedTravelTime" class="form-control" type="number" required />
    </div>

    <div class="form-group">
        <label asp-for="Distance"></label>
        <input asp-for="Distance" class="form-control" type="number" step="0.1" required />
    </div>

    <div class="form-group">
        <label asp-for="IsExpress" class="control-label">Экспресс</label>
        <input asp-for="IsExpress" type="checkbox" />
    </div>

    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>
